.Form {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Form > div {
    width: 85%;
}

/* title and subject */
.Form > div:first-child, .Form > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.Form > div:first-child label{
    font-size: 55px;
    line-height: 50px;
}

.Form label {
    font-family: 'Dongle', sans-serif;
    font-size: 48px; 
    line-height: 48px;
    margin-bottom: 24px;
    border-bottom: 2px solid var(--bg5);
    padding: 0;
    color: var(--txt2);
    user-select: none;
}

.Form input {
    font-family: 'Dongle', sans-serif;
    font-size: 30px; 
    line-height: 25px;
    height: 60px;
    padding: 20px;
    border: none;
    border-radius: 0.25em;
    outline: none;
    width: 100%;
    background-color: var(--bg1);
    border: 1px solid var(--txt5);
    color: var(--txt1);
}

/* .Form input:focus,
.Form input:hover,
.Form input:-webkit-autofill:focus,
.Form input:-webkit-autofill:active,
.Form input:-webkit-autofill:hover 
{
    outline: 0;
    background-color: var(--bg1);
    color: var(--txt1);
} */

/* .Form input:-webkit-autofill,
.Form input:-webkit-autofill:focus,
.Form input:-webkit-autofill:active,
.Form input:-webkit-autofill:hover
{
    transition: 50000s ease-in-out 0s;
} */

.Form > button {
   font-size: 30px;
   font-family: 'Dongle', sans-serif;
   color: var(--bg1);
   padding: 10px;
   transition: 200ms;
   text-shadow: 0 2px 10px black;
}

.Form span {
    color: red;
    font-size: 14px;
    text-align: right;
    margin: 10px 0;
}









/* question container */
.QuestionContainer {
    /* background: rgb(113, 232, 253); */
    padding: 0;
    min-height: 300px;
    z-index: 10;
    position: relative;
}
.QuestionContainer input {
    height: 50px;
}
