.QuizPage {
    min-height: calc(100vh - var(--nav-height));
}

.QuizPage > header {
    padding: 30px;
}
.QuizPage > header h1 {
    color: var(--txt3) !important;
    font-size: 54px;
    line-height: 54px;
    font-family: 'Bangers', sans-serif;
}
.QuizPage > header h3 {
    color: var(--txt4) !important;
    font-size: 24px;
    font-family: 'Bangers', sans-serif;
}
.QuizPage > header img {
    margin-bottom: 15px;
    border-radius: 50%;
}

.QuizPage > header > div {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.QuizPage > header h6 {
    margin-bottom: 10px;
    color: var(--txt5);
    font-size: 22px;
    font-family: 'Bangers';
}
.QuizPage > header h6 > span {
    border-bottom: 2px solid #16a34a;
    color: #16a34a !important;
    text-shadow: 0 2px 10px var(--shadow-light);
    margin-left: 20px;
}

.Score {
    color: var(--txt3);
    font-family: 'Bangers';
    font-size: 35px;
    width: fit-content;
    align-self: flex-end;
    text-shadow: 0 2px 20px var(--shadow-dark);
}
.QuizPage button {
    font-size: 50px;
    color: #EFEFEF;
    font-family: 'Dongle';
}