.Story {
    min-height: 100vh;
    height: fit-content;
    width: 100%;
    padding: 30vh 50px 50px;
    background: linear-gradient(45deg, var(--bg4), var(--bg1)) !important
}

.Story > section {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.Story > section > h1 {
    font-family: "Bangers", sans-serif;
    font-size: 48px;
    margin-bottom: 20px;
}
.Story > section > p {
    font-family: "Oswald", sans-serif;
    font-size: 26px; 
    margin-bottom: 20px;
    margin-left: 20px;
}

@media screen and (max-width: 500px) {
    .Story > section > p {
        font-family: "Oswald", sans-serif;
        font-size: 26px; 
        margin-bottom: 30px;
        margin-left: 20px;
    }
    .Story {
        padding-top: 10vh;
    }
    .Story > section a {
        align-self: flex-end;
    }
    
}