

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Space+Grotesk:wght@300&display=swap');

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --nav-height: 50px;

  --bg1: rgb(245 245 244);
  --txt1: rgb(23, 23, 23);

  --bg2: rgb(209, 213, 219);
  --txt2: rgb(39, 39, 42);

  --bg3: #EFEFEF;
  --txt3: #3E3E3E;

  --bg4: #D9D9D9;
  --txt4: #626262;

  --bg5: #E6E6E6;
  --txt5: #888888;

  --shadow-dark: rgba(19, 19, 19, 0.6);
  --shadow-light: rgb(242, 242, 242, 0.2);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  transition: color 200ms;
  transition: background-color 200ms;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
  background-color: var(--bg1) !important;
}

body {
  padding-top: var(--nav-height);
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, p {
  color: var(--txt1);
}

@tailwind base;
@tailwind components;
@tailwind utilities;