@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Black+Ops+One&family=Dongle:wght@300&family=Kanit:wght@300&family=Mukta:wght@200&family=Oswald:wght@300&family=Press+Start+2P&family=Quicksand:wght@300&family=Space+Grotesk:wght@300&display=swap');

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --nav-height: 50px;

  --bg1: rgb(245 245 244);
  --txt1: rgb(23, 23, 23);

  --bg2: rgb(209, 213, 219);
  --txt2: rgb(39, 39, 42);

  --bg3: #EFEFEF;
  --txt3: #1f1f1f;

  --bg4: #D9D9D9;
  --txt4: #626262;

  --bg5: #E6E6E6;
  --txt5: #888888;

  --shadow-dark: rgba(19, 19, 19, 0.6);
  --shadow-light: rgb(242, 242, 242, 0.2);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  transition: color 200ms;
  transition: background-color 200ms;
}

html,
body {
  overflow-x: hidden !important;

  position: relative !important; 
  width: 100%;
  -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


html {
  background-color: var(--bg1) !important;
}

body {

  scroll-behavior: smooth;
  padding-top: var(--nav-height);
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h6, p {
  color: var(--txt1);
}

select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23171835'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1.5em 1.5em;
  font-family: 'Space Grotesk', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;